.btn{
    background-color: #D85151;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    padding: 0.5em 1.5em;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover{
    color: #D85151;
    background-color: #fff;
}

.submit_container{
    display: flex;
    justify-content: center;
}