.container_principal{
    width: 100%;
    margin-top: 50px;
}

.formulario{
    margin-top: 20px;
}

button{
    background-color: #D85151;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    transition: 0.5s;
    cursor: pointer;
    margin-right: 10px;
}

button:hover{
    color: #D85151;
    background-color: #f2f2f2;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form_in{
    margin-top: 20px;
}