.container_principal{
    width: 100%;
    margin-top: 50px;
}

.formulario{
    margin-top: 20px;
}

button{
    background-color: #D85151;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    padding: 0.5em 1.5em;
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    color: #D85151;
    background-color: #f2f2f2;
}