.res_container{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    
}

.buttonHome{
    margin-top: 10px;
}

.info{
    height: 650px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.foto{
    height: 400px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img{
    height: 300px;
    width: 410px;
    border-radius: 10px;
}

.description{
    height: 400px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.des_text{
    max-width: 500px;
}

.des_text p{
    margin-top: 5px;
}

.review{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.star_1{
    height: 50px;
    width: 50px;
}

.review_span_1{
    font-size: 45px;
    color: #D85151;
    font-weight: bold;
}

.star_2{
    height: 25px;
    width: 25px;
    color: rgb(75, 71, 71);
    margin-left: 20px;
}

.review_span_2{
    font-size: 25px;
    color: rgb(75, 71, 71);
    font-weight: bold;
}

.menu{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu button{
    height: 100%;
    width: 150px;
    background-color: #D85151;
    border-radius: 20px;
    border: initial;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.comentarios{
    padding-bottom: 20px;
}

.avaliacao{
    position: absolute;
    left: 300px;
    top: 515px;
    width: 200px;
    height: 150px;
    background-color: inherit;
    border-radius: 5px;
}

.avaliacao li{
    list-style: none;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #D85151;

}

.comentario{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.comentario form{
    display: flex;
    justify-content: space-between;
}

.nsei{
    width: 100%;
    height: 100%;
}

.comentario button{
    align-self: center;
    height: 36.66px;
    background-color: #fff;
    color: #222;
    margin-top: 14px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.comentario button:hover{
    color: #D85151;
    background-color: #fff;
}
